/* Regular */
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"),
    url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}

/* Bold */
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff"),
    url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}

/* Demi */
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"),
    url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"),
    url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600; /* Assuming Demi is equivalent to 600 font weight */
}
