$font-size-base: 16;

$Desktop-breakpoint: 1280px;
$Tablet-breakpoint: 768px;
$BandSite-Black: #323232;
$BandSite-Sliver: #afafaf;
$BandSite-White: #fff;

$BandSite-DarkBlack: #000;
$BandSite-Mercury: #e1e1e1;
$BandSite-Alabaster: #fafafa;
