@use "./partials/variables" as *;
@use "./partials/fonts" as *;

@mixin desktop {
  @media (min-width: $Desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $Tablet-breakpoint) {
    @content;
  }
}

@mixin text-styles($font-size, $line-height, $font-weight) {
  font-size: calc($font-size / $font-size-base) * 1rem;
  line-height: calc($line-height / $font-size-base) * 1rem;
  font-weight: $font-weight;
}

@mixin layout-grid($margin-x, $gutter, $content-size) {
  display: flex;
  margin-left: $margin-x;
  margin-right: $margin-x;
  gap: $gutter;

  > * {
    box-sizing: border-box;
    width: $content-size;
  }
}

@mixin headlineadding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: $font-size-base * 1px * 1.5;
  font-family: "Avenir", serif;
}

h1 {
  @include text-styles(24, 32, 600);
  @include tablet {
    @include text-styles(60, 68, 600);
  }
}

h2 {
  @include text-styles(24, 32, 400);
  @include tablet {
    @include text-styles(36, 44, 400);
  }
}

h3 {
  @include text-styles(14, 22, 400);
  @include tablet {
    @include text-styles(24, 32, 400);
  }
}

p {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 22, 400);
  }
}

footer {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 20, 400);
  }
}

li,
a,
button {
  @include text-styles(10, 20, 700);
  @include tablet {
    @include text-styles(12, 20, 700);
  }
}

/* =================================================================*/

.header {
  background-color: $BandSite-Black;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include tablet {
    flex-direction: row;
  }
  &__title {
    font-weight: 400;
  }
  .nav {
    &__list {
      display: flex;
      list-style-type: none;
    }
    &__item {
      width: 50%;
    }
  }
}
.banner {
  background-image: url("../assets/Images/hero-bio.jpg");
  width: 100%;
  height: 320px;
  background-size: cover;
  .overlay-container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
  }
  &__title {
    color: $BandSite-White;
  }
}
