@use "./partials/variables" as *;
@use "./partials/fonts" as *;

// @font-face {
//   font-family: "Avenir";
//   src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
//   font-weight: 700;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Avenir";
//   src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
//   font-style: normal;
//   font-weight: 400;
// }
// @font-face {
//   font-family: "Avenir";
//   src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
//   font-weight: 500;
//   font-style: normal;
// }

@mixin desktop {
  @media (min-width: $Desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $Tablet-breakpoint) {
    @content;
  }
}

@mixin text-styles($font-size, $line-height, $font-weight) {
  font-size: calc($font-size / $font-size-base) * 1rem;
  line-height: calc($font-size / $font-size-base)* 1rem;
  font-weight: $font-weight;
}

@mixin layout-grid($margin-x, $gutter, $content-size){
   display: flex;
   margin-left: $margin-x;
   margin-right: $margin-x;
   gap:$gutter;

   > * {
    box-sizing: border-box;
    width: $content-size;
   }
}

@mixin headlineadding($top, $bottom){
  padding-top: $top;
  padding-bottom: $bottom;
}


* {
  padding: 0;
  margin: 0;
}

body {
  font-size: $font-size-base * 1px;
  font-family: "Avenir", serif;
}

h1 {
  @include text-styles(24, 32, 700);
  @include tablet {
    @include text-styles(60, 68, 700);
  }
}

h2 {
  @include text-styles(24, 32, 700);
  @include tablet {
    @include text-styles(36, 44, 700);
  }
}

h3 {
  @include text-styles(14, 22, 600);
  @include tablet {
    @include text-styles(24, 32, 600);
  }
}

p {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 22, 400);
  }
}

footer {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 20, 400);
  }
}

li,
a,
button {
  @include text-styles(10, 20, 700);
  @include tablet {
    @include text-styles(12, 20, 700);
  }
}



/* =================================================================*/



.header {
  background-color: $BandSite-Black;
  flex-direction: column;
  @include tablet {
    @include layout-grid(36,auto,24);
    flex-direction: row;
  }
  @include desktop {
    @include layout-grid(auto,63,24);
  }
  .nav {

  }
}


