@use "./partials/variables" as *;
@use "./partials/fonts" as *;

@mixin desktop {
  @media (min-width: $Desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $Tablet-breakpoint) {
    @content;
  }
}

@mixin text-styles($font-size, $line-height, $font-weight) {
  font-size: calc($font-size / $font-size-base) * 1rem;
  line-height: calc($line-height / $font-size-base) * 1rem;
  font-weight: $font-weight;
}

@mixin layout-grid($margin-x, $gutter, $content-size) {
  display: flex;
  margin-left: $margin-x;
  margin-right: $margin-x;
  gap: $gutter;

  > * {
    box-sizing: border-box;
    width: $content-size;
  }
}

@mixin vPadding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin hPadding($top, $bottom) {
  padding-left: $top;
  padding-right: $bottom;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: $font-size-base * 1px * 1.2;
  font-family: "Avenir", serif;
}

h1 {
  @include text-styles(24, 32, 600);
  @include tablet {
    @include text-styles(60, 68, 600);
  }
}

h2 {
  @include text-styles(24, 32, 600);
  @include tablet {
    @include text-styles(36, 44, 600);
  }
}

h3 {
  @include text-styles(14, 22, 400);
  @include tablet {
    @include text-styles(24, 32, 400);
  }
}

p {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 22, 400);
  }
}

footer {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 20, 400);
  }
}

a,
button {
  text-decoration: none;
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 22, 400);
  }
}

/* =================================================================*/

.header {
  background-color: $BandSite-Black;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include vPadding(0.8rem, 0rem);
  @include tablet {
    @include vPadding(0rem, 0rem);
    flex-direction: row;
  }
  &__title {
    font-weight: 400;
    @include tablet {
      @include text-styles(24, 68, 400);

      @include hPadding(2rem, 2rem);
    }
  }
  .nav {
    &__list {
      display: flex;
      list-style-type: none;
      height: 100%;
      @include tablet {
        gap: 2rem;
        align-items: center;
        @include hPadding(2rem, 2rem);
      }
    }
    &__item {
      width: 50%;
      box-sizing: border-box;
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 100%;
      border-bottom: 2px solid transparent;
      @include tablet {
        display: flex;
        align-items: center;
      }
      a {
        text-decoration: none;
        color: white;
      }
      &:hover {
        border-color: white;
      }
    }
  }
}
.banner {
  background-image: url("../assets/Images/hero-bio.jpg");
  width: 100%;
  height: 240px;
  background-size: cover;
  @include tablet{
    height: 600px;
  }
  .overlay-container {
    @include hPadding(1rem, 1rem);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
  }
  &__title {
    color: $BandSite-White;
  }
}

.about {
  @include hPadding(1rem, 1rem);
  @include vPadding(1.5rem, 1rem);
  @include tablet {
    @include hPadding(6rem, 6rem);
  }
  &__title {
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }
  .musican-profile {
    height: 50vw;
    max-height: 600px;
    width: 100%;
    background-size: cover;
    @include tablet {
      @include hPadding(2rem, 2rem);
    }
  }
  .musican-quote,
  .musican-name {
    @include tablet {
      @include hPadding(2rem, 2rem);
    }
    font-weight: 600;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .band-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    @include tablet {
      @include hPadding(2rem, 2rem);
    }
  }
  .band-description {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap:1rem;
      @include hPadding(2rem, 2rem);
    }
    &__paraph {
      margin-bottom: 1rem;
      text-align: left;
    }
  }
}

.photo-gallery {
  @include hPadding(1rem, 1rem);
  @include vPadding(1.5rem, 1rem);
  background-color: $BandSite-Alabaster;
  &__title {
    margin-bottom: 1rem;
  }
  .collection {
    display: flex;
    flex-direction: column;
    &__picture {
      margin-bottom: 1rem;
    }
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap:5%;
    }
    img{
      @include tablet {
        width: 30%;
        margin-bottom:4%;
      }
    }
  }
  @include tablet {
    @include hPadding(6rem, 6rem);
  }
}

.footer {
  h3 {
    @include tablet {
      font-size: 1rem;
    }  
  }
  background-color: $BandSite-Black;
  color: white;
  @include hPadding(1rem, 1rem);
  @include vPadding(1.5rem, 1rem);
  @include tablet {
    @include hPadding(6rem, 6rem);
    @include vPadding(3rem, 3rem);
  }
  &__row{
    @include tablet {
      display: flex;
      align-items: baseline;
      gap:2rem;
    }
  }
  &__title {
    margin-bottom: 1rem;
  }
  .social-media {
    display: flex;
    justify-content: space-between;
    width: 180px;
    &__link {
      padding-bottom: 1rem;
      img {
        width: 35px;
        height: 35px;
        object-fit: fill;
      }
    }
  }
  .site-name1 {
    display: none;
    @include tablet {
     display: inline;
     flex:1;
     text-align: right;
    }
  }
  .team {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap:1rem;
    }
    &__address {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &__email {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .site-name2 {
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include tablet {
      display: none;
    }
  }
}
