@use "./partials/variables" as *;
@use "./partials/fonts" as *;

@mixin desktop {
  @media (min-width: $Desktop-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $Tablet-breakpoint) {
    @content;
  }
}

@mixin text-styles($font-size, $line-height, $font-weight) {
  font-size: calc($font-size / $font-size-base) * 1rem;
  line-height: calc($line-height / $font-size-base) * 1rem;
  font-weight: $font-weight;
}

@mixin layout-grid($margin-x, $gutter, $content-size) {
  display: flex;
  margin-left: $margin-x;
  margin-right: $margin-x;
  gap: $gutter;

  > * {
    box-sizing: border-box;
    width: $content-size;
  }
}

@mixin vPadding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin hPadding($top, $bottom) {
  padding-left: $top;
  padding-right: $bottom;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: $font-size-base * 1px * 1.2;
  font-family: "Avenir", serif;
}

h1 {
  @include text-styles(24, 32, 600);
  @include tablet {
    @include text-styles(60, 68, 600);
  }
}

h2 {
  @include text-styles(24, 32, 600);
  @include tablet {
    @include text-styles(36, 44, 600);
  }
}

h3 {
  @include text-styles(14, 22, 400);
  @include tablet {
    @include text-styles(24, 32, 400);
  }
}

p {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 22, 400);
  }
}

footer {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 20, 400);
  }
}

a,
button {
  text-decoration: none;
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 22, 400);
  }
}

/* =================================================================*/

.header {
  background-color: $BandSite-Black;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include vPadding(0.8rem, 0rem);
  @include tablet {
    flex-direction: row;
  }
  &__title {
    font-weight: 400;
  }
  .nav {
    &__list {
      display: flex;
      list-style-type: none;
    }
    &__item {
      width: 50%;
      padding-bottom: 0.5rem;
      a{
        text-decoration: none;
        color: white;
      }
      &:hover{
        border-bottom: 1px solid white;
      }
    }
  }
}
.banner {
  background-image: url("../assets/Images/hero-bio.jpg");
  width: 100%;
  height: 240px;
  background-size: cover;
  .overlay-container {
    @include hPadding(1rem, 1rem);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
  }
  &__title {
    color: $BandSite-White;
  }
}

#about {
  @include hPadding(1rem, 1rem);
  @include vPadding(1.5rem, 1rem);
  &__title {
    margin-bottom: 1rem;
  }
  .musican-profile {
    height: 200px;
    width: 100%;
    background-size: cover;
  }
  .musican-quote,
  .musican-name {
    font-weight: 600;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .band-title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .band-description{
    flex-direction: column;
    &__paraph{
      margin-bottom: 1rem;
    }
  }
}

#photo-gallery {
  @include hPadding(1rem, 1rem);
  @include vPadding(1.5rem, 1rem);
  background-color: $BandSite-Alabaster;
  &__title {
    margin-bottom: 1rem;
  }
  .collection {
    display: flex;
    flex-direction: column;
    &__picture{
      margin-bottom: 1rem;
    }
  }
  
  
}

.footer{
  background-color: $BandSite-Black;
  color:white;
  @include hPadding(1rem, 1rem);
  @include vPadding(1.5rem, 1rem);
  &__title {
    margin-bottom: 1rem;
  }
  .social-media{
   
    display: flex;
    justify-content: flex-start;
   
    &__link{
      width: 35px;
      height: 35px;;
      padding: 0rem 1.5rem 1.5rem 0rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: fill;
       
      }
    }
  }
  .site-name1{
    display: none;
  }
  .team {
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding-bottom: 3rem;
    &__address{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &__email{
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .site-name2{
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
