@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;

.banner {
  background-image: url("../assets/Images/hero-bio.jpg");
}

.about {
  .musican-profile {
    height: 50vw;
    max-height: 700px;
    width: 100%;
    background-size: cover;
    @include tablet {
      @include hPadding(2rem, 2rem);
    }
  }
  .musican-quote,
  .musican-name {
    @include tablet {
      @include hPadding(2rem, 2rem);
    }
    font-weight: 600;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .band-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    @include tablet {
      @include hPadding(2rem, 2rem);
    }
  }
  .band-description {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      @include hPadding(2rem, 2rem);
    }
    &__paraph {
      margin-bottom: 1rem;
      text-align: left;
    }
  }
}

.photo-gallery {
  background-color: $BandSite-Alabaster;
  .collection {
    display: flex;
    flex-direction: column;
    &__picture {
      margin-bottom: 1rem;
    }
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5%;
    }
    img {
      @include tablet {
        width: 30%;
        margin-bottom: 4%;
      }
    }
  }
}

@mixin text-input-style() {
  border-radius: 4px;
  padding: 0.75rem;
  font-size: 0.75rem;
  border: 1.5px solid $BandSite-Mercury;
  background-color: $BandSite-Alabaster;
  &:focus {
    border: 1.5px solid $BandSite-Black;
    outline: none;
    background-color: $BandSite-White;
  }
  @include tablet {
    padding: 1rem;
    font-size: 1rem;
  }
  @content;
}

.comments {
  .user-comment {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: auto;
    .user-avatar {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin-right: 20px;
      position: relative;
      top: 30px;
      object-fit: cover;
    }
    .comment-form {
      width: 100%;
      form {
        display: flex;
        flex-direction: column;
      }
      label,
      textarea,
      input {
        width: 100%;
        display: block;
      }
      .label {
        margin-bottom: 0.5rem;
      }
      input {
        @include text-input-style;
        margin-bottom: 1.5rem;
      }
      textarea {
        height: 150px;
        resize: none; /* Disable textarea resizing */
        @include text-input-style;
      }
      button {
        @include tablet {
          align-self: flex-end;
        }
      }
    }
  }
  .comments__list {
    width: 100%;
    max-width: 770px;
    margin: auto;
    * {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    &__item {
      display: flex;
      width: 100%;
      @include vPadding(1.5rem, 1.5rem);
      border-bottom: 2px solid $BandSite-Mercury;
      &:nth-child(1) {
        border-top: 2px solid $BandSite-Mercury;
      }
      .user-avatar {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 20px;
        object-fit: cover;
      }
      .comment {
        flex: 1;
        &__header {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
        &__username {
          font-weight: 600;
        }
        &__timestamp {
          color: $BandSite-Sliver;
        }
      }
    }
  }
}
