@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;


.banner {
  background-image: url("../assets/Images/hero-bio.jpg");
  width: 100%;
  height: 240px;
  background-size: cover;
  @include tablet{
    height: 600px;
  }
  .overlay-container {
    @include hPadding(1rem, 1rem);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
  }
  &__title {
    color: $BandSite-White;
  }
}

.about {
  @include hPadding(1rem, 1rem);
  @include vPadding(1.5rem, 1rem);
  @include tablet {
    @include hPadding(6rem, 6rem);
  }
  &__title {
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }
  .musican-profile {
    height: 50vw;
    max-height: 600px;
    width: 100%;
    background-size: cover;
    @include tablet {
      @include hPadding(2rem, 2rem);
    }
  }
  .musican-quote,
  .musican-name {
    @include tablet {
      @include hPadding(2rem, 2rem);
    }
    font-weight: 600;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .band-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    @include tablet {
      @include hPadding(2rem, 2rem);
    }
  }
  .band-description {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap:1rem;
      @include hPadding(2rem, 2rem);
    }
    &__paraph {
      margin-bottom: 1rem;
      text-align: left;
    }
  }
}

.photo-gallery {
  @include hPadding(1rem, 1rem);
  @include vPadding(1.5rem, 1rem);
  background-color: $BandSite-Alabaster;
  &__title {
    margin-bottom: 1rem;
  }
  .collection {
    background-color: white;
    display: flex;
    flex-direction: column;
    &__picture {
      margin-bottom: 1rem;
    }
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap:5%;
    }
    img{
      @include tablet {
        width: 30%;
        margin-bottom:4%;
      }
    }
  }
  @include tablet {
    @include hPadding(6rem, 6rem);
  }
}

