@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: $font-size-base * 1px * 1.2;
  font-family: "Avenir", serif;
}

h1 {
  @include text-styles(24, 32, 600);
  @include tablet {
    @include text-styles(60, 68, 600);
  }
}

h2 {
  @include text-styles(24, 32, 600);
  @include tablet {
    @include text-styles(36, 44, 600);
  }
}

h3 {
  @include text-styles(14, 22, 400);
  @include tablet {
    @include text-styles(24, 32, 400);
  }
}

p {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 22, 400);
  }
}

footer {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 20, 400);
  }
}

a,
button {
  text-decoration: none;
  color: white;
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 22, 400);
  }
}

ul,
ol {
  list-style: none;
}
main {
  section {
    @include hPadding(1rem, 1rem);
    @include vPadding(1rem, 1rem);

    @include tablet {
      @include hPadding(6vw, 6vw);
      @include vPadding(4rem, 1rem);
    }
    > h2 {
      margin-bottom: 1rem;
      @include tablet {
        margin-bottom: 1.5rem;
      }
    }
  }
}

/* =================================================================*/

.header {
  background-color: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include vPadding(1rem, 0rem);
  @include hPadding(0rem, 0rem);
  @include tablet {
    @include vPadding(0rem, 0rem);
    @include hPadding(3rem, 0rem);
    flex-direction: row;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    @include tablet {
      min-width: 120px;
      min-height: 20px;
      width: 6vw;
    }
  }
  .nav {
    &__list {
      display: flex;
      @include tablet {
        gap: 3em;
        align-items: center;
        @include hPadding(3rem, 0rem);
      }
    }
    &__item {
      flex: 1;
      @include vPadding(1rem, 1rem);
      border-bottom: 2px solid transparent;
      @include tablet {
        @include vPadding(2rem, 2rem);
      }
      a:hover {
        font-weight: 700;
      }
      &:hover {
        border-color: white;
      }
    }
  }
}

.banner {
  width: 100%;
  height: 90vw;
  background-size: cover;
  max-height: 700px;
  min-height: 150px;
  .overlay-container {
    @include hPadding(1rem, 2rem);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @include tablet {
      @include hPadding(2rem, 1rem);
    }
  }
  > * {
    color: $BandSite-White;
    @include tablet {
      @include hPadding(1rem, 1rem);
    }
  }
  &__title{
    @include vMargin(1.5rem,2rem);

  }
  iframe{
    max-width: 500px;
    height: 120px;
    @include tablet{
      height: 150px;
    }
    
  }
}

.footer {
  h3 {
    @include tablet {
      font-size: 1rem;
    }
  }
  background-color: $primary-color;
  color: white;
  @include hPadding(1rem, 1rem);
  @include vPadding(1.5rem, 1rem);
  @include tablet {
    @include hPadding(6vw, 6vw);
    @include vPadding(3rem, 3rem);
  }
  &__row {
    @include tablet {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      gap: 3vw;
    }
    .logo1 {
      display: none;
      @include tablet {
        display: flex;
        width: 150px;
        margin-left: auto;
      }
    }
  }
  &__title {
    margin-bottom: 1rem;
  }
  .social-media {
    display: flex;
    justify-content: space-between;
    width: 180px;
    &__link {
      padding-bottom: 1rem;
      img {
        width: 35px;
        height: 35px;
        object-fit: fill;
      }
    }
  }

  .team {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
    &__address {
      @include vPadding(1rem, 1rem);
    }
  }
  .logo2 {
    @include vPadding(1rem, 1rem);
  }
}
