@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;


  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: $font-size-base * 1px * 1.2;
  font-family: "Avenir", serif;
}

h1 {
  @include text-styles(24, 32, 600);
  @include tablet {
    @include text-styles(60, 68, 600);
  }
}

h2 {
  @include text-styles(24, 32, 600);
  @include tablet {
    @include text-styles(36, 44, 600);
  }
}

h3 {
  @include text-styles(14, 22, 400);
  @include tablet {
    @include text-styles(24, 32, 400);
  }
}

p {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 22, 400);
  }
}

footer {
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 20, 400);
  }
}

a,
button {
  text-decoration: none;
  @include text-styles(13, 18, 400);
  @include tablet {
    @include text-styles(14, 22, 400);
  }
}

/* =================================================================*/

.header {
  background-color: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  @include vPadding(0.8rem, 0rem);
  @include hPadding(0rem, 0rem);
  @include tablet {
    @include vPadding(0rem, 0rem);
    @include hPadding(2rem, 0rem);
    flex-direction: row;
  }
  .logo {
    width: 5vw;
    min-width: 120px;
    min-height: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .nav {
    &__list {
      display: flex;
      gap:1rem;
      list-style-type: none;
      height: 100%;
      @include tablet {
        gap: 2rem;
        align-items: center;
        @include hPadding(2rem, 0rem);
      }
    }
    &__item {
      width: 50%;
      box-sizing: border-box;
      @include vPadding(1rem, 1rem);
      height: 100%;
      border-bottom: 2px solid transparent;
      @include tablet {
        display: flex;
        align-items: center;
        @include vPadding(2rem, 2rem);
      }
      a {
        text-decoration: none;
        color: white;
        transition: font-weight 0.5s ease;
        text-align: center;
        

        &:hover{
          font-weight: 700;
        }
      }
      &:hover {
        border-color: white;
      }
    }
  }
}

.footer {
  h3 {
    @include tablet {
      font-size: 1rem;
    }
  }
  background-color: $primary-color;
  color: white;
  @include hPadding(1rem, 1rem);
  @include vPadding(1.5rem, 1rem);
  @include tablet {
    @include hPadding(6rem, 6rem);
    @include vPadding(3rem, 3rem);
  }
  &__row {
    @include tablet {
      display: flex;
      align-items: baseline;
      gap: 2rem;
    }
  }
  &__title {
    margin-bottom: 1rem;
  }
  .social-media {
    display: flex;
    justify-content: space-between;
    width: 180px;
    &__link {
      padding-bottom: 1rem;
      img {
        width: 35px;
        height: 35px;
        object-fit: fill;
      }
    }
  }
  .site-name1 {
    display: none;
    @include tablet {
      display: inline;
      flex: 1;
      text-align: right;
    }
  }
  .team {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
    &__address {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &__email {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .site-name2 {
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include tablet {
      display: none;
    }
  }
}
